html, body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	background: url('../images/san_blurred.jpg') no-repeat center fixed;
	background-size: cover;

	
}

.boxes {
	background: linear-gradient(#0000, #0007);
	border-radius: 12px;
	padding: 12px 16px;
}

.boxes_constant {
	background: #0005;
	border-radius: 12px;
	padding: 12px 16px;
}



a {
	color: white;

}

a:hover {
	color: #ccc;
	text-decoration: none;
}



