html, body {
    background-color: #000;
	background-image: url('../images/moon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
	font-family: 'Open Sans', sans-serif;
	color: #fff;
    
    

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    
	z-index: 1;
    overflow: visible;
    background-color: #000c;
    box-shadow: 0px 0px 4px #000000;

    padding: 10px 16px;
}

.menu_item {
    padding: 8px 12px;
}

.home {
    margin-top: 50px;
    background-color: #f00a;
}

a {
    text-decoration: none;
    color: #fff;

}

a:hover {
    text-decoration: underline;
}
